{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Olá, <b>João Pedro</b>, vc está a <b>7</b> carinhas do seu objetivo de <b> ir ao clube no fim de semana</b></p><br />
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tarefa</th>
                            <th>Valor</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></span></th>
                            <th></span></th>
                            <th><span class="glyphicon glyphicon-heart"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Escovar os dentes após as refeições</td>
                            <td>20</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Bochechar o enxaguante</td>
                            <td>5</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Passar fio dental</td>
                            <td>15</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Fazer o café da manhã</td>
                            <td>20</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Arrumar a cama</td>
                            <td>10</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Fazer dever</td>
                            <td>10</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Comer 5 coisas diferentes (almoço)</td>
                            <td>50</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Fazer uma boa ação</td>
                            <td>30</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Lavar as mãos e comer à mesa</td>
                            <td>10</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Levar o prato para a pia</td>
                            <td>10</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Ler um gibi</td>
                            <td>20</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Ler um gibi em outro idioma</td>
                            <td>30</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Ir à missa</td>
                            <td>40</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Rezar antes das refeições ou ao dormir</td>
                            <td>20</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Fazer uma atividade doméstica</td>
                            <td>30</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Brigar ou responder</td>
                            <td>-30</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Falar palavrão</td>
                            <td>-20</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Eletrônicos na hora das refeições</td>
                            <td>-50</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Não fazer uma das refeiçoes</td>
                            <td>-60</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Beber líquido durante as refeições</td>
                            <td>-30</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                        <tr>
                            <td>Mentir</td>
                            <td>-40</td>
                            <td class="success">:-)</td>
                            <td class="danger">:-(</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                            <td class="info">:-|</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <span class="copyright text-muted">Diário de bordo</span>
                <form>
                    <textarea class="form-control">Anote aqui uma coisa boa para enviar para o responsável pelo quadro</textarea>
                    <p align="center"><input type="submit" value="Enviar"></p>
                </form>
                <p class="copyright text-muted">n0va1s 2016</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
