{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="frmQuadro" action="{{ path('quadroSalvar')}}" method="POST">
                    <h4>Crie o seu quadro</h4>
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" class="col-lg-12" placeholder="Informe seu email" required 
                    data-validation-required-message="Qual o seu email?" autofocus>
                    <label for="tipo" class="sr-only">Tipo de quadro</label>
                    <select name="tipo"  class="col-lg-4">
                        <option value="" selected>Um quadro de</option>
                        <option value="C">Comportamento</option>
                        <option value="M">Mesada</option>
                    </select>
                    <select name="genero" class="col-lg-4">
                        <option value="" selected>Para</option>
                        <option value="M">um menino</option>
                        <option value="F">uma menina</option>
                    </select>
                    <label for="idade" class="sr-only">Idade</label>
                    <input type="number" name="idade" class="col-lg-4" placeholder="Com XX anos" required data-validation-required-message="Quantos anos ele ou ela tem?">
                    <label for="nome" class="sr-only">Nome</label>
                    <input type="text" name="crianca" class="col-lg-12" placeholder="Chamado (a)" required data-validation-required-message="Qual o nome dele ou dela?">
                    <label for="nome" class="sr-only">Recompensa</label>
                    <input type="text" name="recompensa" class="col-lg-12" placeholder="A recompensa combinada ao fim da semana é" required data-validation-required-message="Qual a recompensa combinada?">
                    <div>&nbsp;</div>
                    <center>
                        <button class="btn btn-primary" type="submit">Criar</button>
                    <center>
                    <input type="hidden" name="id" value="{% if id is defined %} {{ id }} {% endif %}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
