{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Algumas dicas de tarefas para serem trabalhadas com seu filho ou filha, conforme a idade:</p>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h4 class="post-title">Higiene</h4>
                    <p class="post-meta">Escovar os dentes <br /> Passar fio dental <br /> Usar enxaguante<br /></p>
                    <h4 class="post-title">Comportamento</h4>
                    <p class="post-meta">Não pedir as coisas chorando <br /> Não responder <br /> Não falar palavrão<br /> Não brigar com o irmão (ã)</p>
                    <h4 class="post-title">Estudos</h4>
                    <p class="post-meta">Fazer o dever <br /> Ler um livro / gibi <br /> Ler um livro / gibi em outro idioma<br /></p>
                    <h4 class="post-title">Doméstica</h4>
                    <p class="post-meta">Pôr à mesa <br /> Lavar a louça <br /> Secar a louça<br />Guardar a louça <br /></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}