{% extends 'leiaute.twig' %}
{% block titulo %}Um desejo por semana - Página Inicial{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Bem-vindo pai, mãe, avô, avó, tio, tia, padrinho, madrinha ...</p><br />
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" >
                    <h2 class="post-title">O que é "um desejo por semana"?</h2>
                    <p class="post-meta">
                        <b>Para pais e mães</b> que buscam desenvolver crianças, jovens e adolescentes confiantes e responsáveis, o
                        "um desejo por semana" é um <b>quadro de tarefas</b> diferente daqueles quadros brancos, de cortiça ou planilhas impressas, sendo mais <b>sustentável e fácil</b> de alterar.<br />Esse quadro está no <b>mundo digital</b> deles, possui uma metodologia de trabalho baseada em <b>games</b>, facilita a <b>comunicação</b> e permite o <b>acompanhamento mesmo à distância</b>.
                    </p>
                    <p class="post-meta">
                        A criança deve cumprir 70% das atividades propostas pelo responsável para alcançar o <b>desejo da semana</b> que a criança escolheu. Pode ser uma ida ao clube, um passeio no parque, um dia de jogos em casa, ir a uma festa, etc...
                        Lembre-se que qualquer mudança leva ao menos 30 dias e que a persistência é a chave para o seu sucesso e o do filhote
                    </p>
                    <h2>Regras do Jogo</h2>
                    <p class="post-meta">
                    1. Escolha tarefas que corrijam ou aperfeiçoem um comportamento.<br />
                    2. Reserve um horário, antes de dormir, para conversar e preencher o quadro.<br />
                    3. Estabeleça metas semanais e comemore as conquistas. Apresente as consequências também.<br />
                    4. Não ceda às pressões. O adulto é você. Cara feia passa, um mau comportamento pode durar a vida toda.<br />
                    5. A quantidade de tarefas deve ser próxima à idade da criança até o limite de 8 por dia.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
 {% endblock %}

{% block rodape %}
<footer class="intro-header" style="background-image: url({{ asset('idealizadores.jpg', 'img') }})">
    <div>
        <h2 style="color:white; text-align:center">Os idealizadores</h2>
        <h3 style="color:white; text-align:left">&nbsp;João Paulo,<br />&nbsp;pai do Johny,<br />&nbsp;do Dudu, analista de<br />&nbsp;sistemas e escoteiro</h3>
        <h3 style="color:white; text-align:right">Isabela,&nbsp;<br />mãe da Lena,&nbsp;<br />dançarina e&nbsp;<br />analista de projetos&nbsp;</h3>
    </div>
</footer>
{% endblock %}

