{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Bem-vindo pai, mãe, avô, avó, tio, tia, padrinho, madrinha ...</p><br />
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="post-title">O quadro mágico</h2>
                    <p class="post-meta">
                        Para pais e mães<br />
                        Que buscam desenvolver crianças, jovens e adolescentes confiantes e responsáveis<br />
                        O Quadro Mágico<br />
                        É como um quadro de tarefas<br />
                        Diferente daqueles quadros brancos, de cortiça ou planilhas impressas no trabalho<br />
                        Esse quadro está no mundo digital deles, possui uma metodologia de trabalho baseada em jogos e facilita comunicação estando você ao lado deles ou não.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Regras do Jogo</h2>
                <p class="post-meta">
                1. Escolha tarefas que corrijam ou aperfeiçoem um comportamento.<br />
                2. Reserve um horário, antes de dormir, para conversar e revisar o quadro.<br />
                3. Estabeleça metas semanais e comemore as conquistas. Apresente as consequências também.<br />
                4. Não ceda às pressões. O adulto é você. Cara feia passa, um mau comportamento pode durar a vida toda.<br />
                5. Lembre-se que qualquer mudança leva ao menos 30 dias e que a persistência é a chave para o seu sucesso e o do filhote.
                </p>
            </div>
        </div>
        <center>
            <a href="{{ app.url_generator.generate('indexQuadro') }}"><button class="btn btn-primary" type="submit">Crie seu quadro</button></a>
        <center>
        <br />
    </div>
    
 {% endblock %}

{% block rodape %}
<footer class="intro-header" style="background-image: url({{ asset('idealizadores.jpg', 'img') }})">
    <div>
        <h2 style="color:white">Os idealizadores</h2>
        <h3 style="color:white; text-align:left">João Paulo, pai do PJ, do KidFury,<br /> divorciado, escoteiro<br /> e analista de sistemas</h3>
        <h3 style="color:white; text-align:right">Isabela, mãe da Lena,<br /> divorciada, dançarina<br /> e empreendedora social</h3>
    </div>
</footer>
{% endblock %}

