{% extends 'leiaute.twig' %}
{% block titulo %}code.education - Curso de PHP - Login{% endblock %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    <form action="{{ path('login_check') }}" method="post">
                        <fieldset>
                            <legend><b>Acesse:</b></legend>
                                <label for="usuario">Usuário:</label><br />
                                <input type="text" id="usuario" placeholder="Usuário" name="_username" value="{{ last_username }}" /><br />
                                <label for="senha">Senha:</label><br />
                                <input type="password" id="senha" name="_password" placeholder="Senha"/>
                        </fieldset>
                        <br />
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Limpar">
                        {% if error %}
                            <div class="error">{{ error }}</div>
                        {% endif %}
                    </form>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{{ app.url_generator.generate('inicio') }}">Início</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
