{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Olá, <b>Helena</b>, vc está a <b>7</b> estrelas do seu objetivo de <b> ter um show de mágica</b></p><br />
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tarefa</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th><span class="glyphicon glyphicon-heart"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td><span class="glyphicon glyphicon-check"></td>
                            <td class="success"><span class="glyphicon glyphicon-star"></span></td>
                            <td class="danger"><span class="glyphicon glyphicon-star-empty"></span></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-check"></td>
                            <td class="success"><span class="glyphicon glyphicon-star"></span></td>
                            <td class="danger"><span class="glyphicon glyphicon-star-empty"></span></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-check"></td>
                            <td class="success"><span class="glyphicon glyphicon-star"></span></td>
                            <td class="danger"><span class="glyphicon glyphicon-star-empty"></span></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-check"></td>
                            <td class="success"><span class="glyphicon glyphicon-star"></span></td>
                            <td class="danger"><span class="glyphicon glyphicon-star-empty"></span></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-check"></td>
                            <td class="success"><span class="glyphicon glyphicon-star"></span></td>
                            <td class="danger"><span class="glyphicon glyphicon-star-empty"></span></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-check"></td>
                            <td class="success"><span class="glyphicon glyphicon-star"></span></td>
                            <td class="danger"><span class="glyphicon glyphicon-star-empty"></span></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                            <td class="info"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <span class="copyright text-muted">Diário de bordo</span>
                <form>
                    <textarea class="form-control">Anote aqui uma coisa boa para enviar para o responsável pelo quadro</textarea>
                    <p align="center"><input type="submit" value="Enviar"></p>
                </form>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
